<div class="main-container">
  <h1>Consultar relacionamentos por Processo</h1>
  <div class="form">
    <mat-form-field class="inputNumProcesso">
      <mat-label>Número do Processo</mat-label>
      <input matInput type="text" [(ngModel)]="numProcesso">
    </mat-form-field>
    <div class="buttons">
      <button mat-flat-button color="accent" class="button">Consultar</button>
      <button mat-stroked-button color="primary" class="button" routerLink="/relacionamentos/criar">Criar novo relacionamento</button>
    </div>
  </div>

  <mat-card>
    <table mat-table [dataSource]="relacionamentos$" class="mat-elevation-z8">

      <!-- Pessoa Column -->
      <ng-container matColumnDef="numPessoa">
        <th mat-header-cell *matHeaderCellDef> Pessoa </th>
        <td mat-cell *matCellDef="let relacionamento"> {{relacionamento.numPessoa}} </td>
      </ng-container>

      <!-- Processo Column -->
      <ng-container matColumnDef="numProcesso">
        <th mat-header-cell *matHeaderCellDef> Processo </th>
        <td mat-cell *matCellDef="let relacionamento"> {{relacionamento.numPessoa}} </td>
      </ng-container>

      <!-- Código Column -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let relacionamento"> {{relacionamento.numPessoa}} </td>
      </ng-container>

      <!-- Data de Início Column -->
      <ng-container matColumnDef="dataInicio">
        <th mat-header-cell *matHeaderCellDef> Data de Início </th>
        <td mat-cell *matCellDef="let relacionamento"> {{relacionamento.numPessoa}} </td>
      </ng-container>

      <!-- Data de Início Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let relacionamento"><span class="material-icons" style="cursor: pointer;" (click)="excluir(relacionamento)">delete</span></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>

  <br><p>  </p><br>
  <br><p>  </p><br>
  <br><p>  </p><br>
  <br><p>  </p><br>

</div>
